Repository marko-js/arc-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, prettier --write, sort-package-json --quiet

fix: issue with multiple flags
  .changeset/yellow-bobcats-scream.md
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
Due: eslint --fix, prettier --write

fix: ensure arc plugin always runs first
  .changeset/beige-windows-destroy.md
  package-lock.json
  package.json
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
  src/plugins/serve.ts
  src/tests/fixtures/basic/src/entry-server.ts
  src/tests/fixtures/marko/config.ts
  src/tests/fixtures/marko/src/a.ts
  src/tests/fixtures/marko/src/a[mobile].ts
  src/tests/fixtures/marko/src/b-mobile-only.css
  src/tests/fixtures/marko/src/b.ts
  src/tests/fixtures/marko/src/b[mobile].ts
  src/tests/fixtures/marko/src/c.css
  src/tests/fixtures/marko/src/c[mobile].css
  src/tests/fixtures/marko/src/components/app.marko
  src/tests/fixtures/marko/src/entry-server.ts
  src/tests/fixtures/marko/src/index.marko
  src/tests/marko.test.ts
  src/tests/types.d.ts
  src/tests/utils/dev-server.ts
  src/tests/utils/prod-server.ts
  src/utils/ensure-arc-plugin-is-first.ts
  src/utils/options.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

feat: support virtual adaptive matches
  .changeset/thirty-phones-pretend.md
  .eslintrc.json
  package-lock.json
  package.json
  src/index.ts
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
  src/plugins/serve.ts
  src/tests/fixtures/basic/src/entry-server.ts
  src/tests/fixtures/marko-scan-files/config.ts
  src/tests/fixtures/marko-scan-files/src/components/app.marko
  src/tests/fixtures/marko-scan-files/src/components/maybe-stateful.marko
  src/tests/fixtures/marko-scan-files/src/components/maybe-stateful[mobile].marko
  src/tests/fixtures/marko-scan-files/src/entry-server.ts
  src/tests/fixtures/marko-scan-files/src/index.marko
  src/tests/marko-scan-files.test.ts
  src/tests/marko.test.ts
  src/tests/utils/dev-server.ts
  src/tests/utils/get-page.ts
  src/tests/utils/get-port.ts
  src/tests/utils/prod-server.ts
  src/utils/arc-fs.ts
  src/utils/flags.ts
  src/utils/manifest.ts
  src/utils/matches.ts
  src/utils/read-once-persisted-store.ts
  src/utils/virtual-matches.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: avoid using virtual modules for builtin types
  .changeset/grumpy-pigs-smile.md
  src/utils/virtual-matches.ts
Due: eslint --fix, prettier --write

fix: avoid using this.load api unless necessary
  .changeset/curvy-bags-invent.md
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
Due: eslint --fix, prettier --write

feat: move away from tla
  .changeset/good-masks-float.md
  package-lock.json
  package.json
  src/index.ts
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
  src/tests/basic.test.ts
  src/tests/marko-scan-files.test.ts
  src/tests/marko.test.ts
  src/utils/flags.ts
  src/utils/manifest.ts
  src/utils/strip-entry-script.ts
  src/utils/virtual-matches.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: use inline script to ensure adaptive asset load order
  .changeset/hungry-dodos-judge.md
  package-lock.json
  package.json
  src/plugins/build-web.ts
  src/utils/prepare-arc-entry-html.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: support vites renderBuiltURL api
  .changeset/real-jars-hang.md
  src/plugins/build-web.ts
  src/utils/prepare-arc-entry-html.ts
  src/utils/strip-entry-script.ts
Due: eslint --fix, prettier --write

bail on virtual matches
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
  src/plugins/serve.ts
  src/tests/fixtures/marko-scan-files/config.ts
  src/tests/fixtures/marko/config.ts
  src/utils/ensure-arc-plugin-is-first.ts
  src/utils/file-types.ts
  src/utils/is-css-file.ts
  src/utils/virtual-matches.ts
Due: eslint --fix, prettier --write

fix: revert virtual adaptive module support
  .changeset/tidy-teachers-bathe.md
  src/index.ts
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
  src/plugins/serve.ts
  src/tests/fixtures/marko-scan-files/config.ts
  src/tests/fixtures/marko-scan-files/src/components/app.marko
  src/tests/fixtures/marko-scan-files/src/components/maybe-stateful.marko
  src/tests/fixtures/marko-scan-files/src/components/maybe-stateful[mobile].marko
  src/tests/fixtures/marko-scan-files/src/entry-server.ts
  src/tests/fixtures/marko-scan-files/src/index.marko
  src/tests/fixtures/marko/config.ts
  src/tests/marko-scan-files.test.ts
  src/utils/arc-fs.ts
  src/utils/ensure-arc-plugin-is-first.ts
  src/utils/file-types.ts
  src/utils/is-css-file.ts
  src/utils/prepare-arc-entry-html.ts
  src/utils/virtual-matches.ts
Due: eslint --fix, prettier --write

fix: syntax error in generated code
  .changeset/wild-mice-think.md
  src/plugins/build-web.ts
Due: eslint --fix, prettier --write

chore: upgrade vite dependency
  package.json
Due: prettier --write, sort-package-json --quiet

chore: add changeset
  .changeset/fresh-bees-accept.md
  package-lock.json
Due: prettier --write

fix: support vite 7, tooling upgrades
  .changeset/lovely-cameras-jog.md
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/index.ts
  src/plugins/build-ssr.ts
  src/plugins/build-web.ts
  src/plugins/serve.ts
  src/tests/basic.test.ts
  src/tests/fixtures/basic/config.ts
  src/tests/fixtures/basic/src/entry-server.ts
  src/tests/fixtures/basic/src/entry-web.ts
  src/tests/fixtures/marko/config.ts
  src/tests/fixtures/marko/src/entry-server.ts
  src/tests/marko.test.ts
  src/tests/utils/dev-server.ts
  src/tests/utils/get-page.ts
  src/tests/utils/prod-server.ts
  src/utils/manifest.ts
  src/utils/matches.ts
  src/utils/options.ts
  src/utils/prepare-arc-entry-html.ts
  src/utils/strip-entry-script.ts
Due: eslint --fix, prettier --write, sort-package-json --quiet

fix: nested arc proxies prod web build
  .changeset/proud-seas-open.md
  src/plugins/build-web.ts
Due: eslint --fix, prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --fix: any of: *.{ts,js}
  prettier --write: ((any of: *.{ts,js}) or (any of: *.{json,md})) or (any of: ./package.json)
  sort-package-json --quiet: any of: ./package.json
